<div class="course-stats-container">
  <div class="course-stats-box">
    <div class="course-stat">
      <span class="label">Total Students &nbsp;&nbsp;</span>
      <!-- <span>&nbsp;&nbsp;</span> -->
      <span class="value">{{ courseData.totalStudents }}</span>
    </div>
  </div>
  <div class="course-stats-box">
    <div class="course-stat">
      <span class="label">Course Average Mark &nbsp;&nbsp;</span>
      <!-- <span>&nbsp;</span> -->
      <span class="value">{{ courseData.courseAverageMark }}</span>
    </div>
  </div>
</div>
