<div class="main-container  d-flex flex-wrap">
  <app-course-info class="left-side col-lg-2 col-md-12"></app-course-info>

  <div class="right-side col-lg-8 col-md-12 d-flex flex-column">
    <!-- Course Stats -->
    <app-course-stats class="mb-1" ></app-course-stats>

    <!-- Assessment Progress Title -->
    <h4 class="mb-1">Assessment Progress</h4>
    <app-assessment-progress></app-assessment-progress>

    <!-- Student's Attendance Title -->
    <h4 class="mb-1">Student's Attendance</h4>
    <app-student-attendance></app-student-attendance>
  </div>
</div>
