figure {
  margin: 0 auto;
  width: 50%;
  max-width: 50%; 
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 18px;
  color: #2C384B;
  box-sizing: border-box; 
}

@media screen and (max-width: 1200px) {
  figure {
    font-size: 1.5vw; 
    line-height: 2vw;
  }
}

@media screen and (max-width: 768px) {
  figure {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 480px) {
  figure {
    font-size: 1rem; 
    line-height: 1.5rem;
  }
}
