/* Styles for the grid lines */
.line-grid {
  stroke: #E8E8E8;
  stroke-width: 1;
}

/* Completed bars style */
.rect-completed {
  fill: #91B07C;
}

/* Pending bars style */
.rect-pending {
  fill: #E8E8E8;
}

/* Legend rectangle style */
.legend rect {
  stroke: none;
  width: 25px;
  height: 15px;
  display: flex;
  align-items: center;
  gap: 5px;

}

.legend text {
  font-size: 10px;
  left: 195px;
  top: 41px;
}


/* Figure element styling */
figure {
  margin: 0 auto;
  width: 75%;
  max-width: 100%;
  text-align: left;
  float: left;
  
}

@media screen and (max-width: 1200px) {
  figure {
    font-size: 1.5vw;
    line-height: 2vw;
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  figure {
    width: 75%;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .rect-completed,
  .rect-pending {
    width: 20px;
  }

  .legend rect {
    width: 15px;
    height: 10px;
  }

  .legend text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  figure {
    width: 75%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .rect-completed,
  .rect-pending {
    width: 20px;
  }

  text {
    font-size: 0.70rem;
  }

  .legend rect {
    width: 12px;
    height: 9px;
  }

  .legend text {
    font-size: 0.85rem;
  }
}