/* General Styles */
.course-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border: 1px solid #D6D9DD;
  border-radius: 6px;
  color: #2C384B;
}

.course-header,
.course-data,
.credit-list {
  font-family: 'Helvetica Now Text', sans-serif;
  font-style: normal;
}

.course-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.course-data,
.credit-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.credit-list {
  padding: 0;
  list-style: none;
}

/* Badge Styles */
.badge {
  padding: 5px 10px;
  border-radius: 3px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.outcomes-container .badge,
.mapped-container .badge {
  border-radius: 4px;
}

.outcomes-container .badge {
  background-color: #A7C88F;
  color: #2C384B;
}

.mapped-container .badge {
  background-color: #2E6995;
  color: #FFFFFF;
}

/* Container Styles */
.outcomes-container,
.mapped-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.course-info h2:not(:first-of-type),
.course-info h3:not(:first-of-type),
.course-info h4:not(:first-of-type) {
  border-top: 1px solid #D6D9DD;
  padding: 8px 0;
  margin: 12px 0;
}
