<div class="course-info sidebar" >
  <h3 class="course-header">Course Code</h3>
  <p class="course-data">{{ courseData.courseCode }}</p>
  
  <h3 class="course-header">Course Name</h3>
  <p class="course-data">{{ courseData.courseName }}</p>
  
  <h3 class="course-header">Course Type</h3>
  <p class="course-data">{{ courseData.courseType }}</p>
  
  <h3 class="course-header">Course Period</h3>
  <p class="course-data">Semester - <b>{{ courseData.coursePeriod }}</b></p>
  
  <h3 class="course-header">Credits (4)</h3>
  <ul class="credit-list">
    <li>Lecture - <b>{{ courseData.credits?.lecture }}</b></li>
    <li>Tutorial - <b>{{ courseData.credits?.tutorial }}</b></li>
    <li>Practical - <b>{{ courseData.credits?.practical }}</b></li>
    <li>Project - <b>{{ courseData.credits?.project }}</b></li>
  </ul>
  
  <h3 class="course-header">Course Outcomes (COs)</h3>
  <div class="outcomes-container">
    <span *ngFor="let co of courseData.courseOutcomes" class="badge">{{ co }}</span>
  </div>
  
  <h3 class="course-header">Mapped to this Course</h3>
  <div class="mapped-container">
    <span *ngFor="let po of courseData.mappedToCourse" class="badge mapped">{{ po }}</span>
  </div>
</div>