<div class="course-info sidebar">
  <h4 class="course-header">Course Code</h4>
  <p class="course-data">{{ courseData.courseCode }}</p>
  <hr>
  <h4 class="course-header">Course Name</h4>
  <p class="course-data">{{ courseData.courseName }}</p>
  <hr>
  <h4 class="course-header">Course Type</h4>
  <p class="course-data">{{ courseData.courseType }}</p>
  <hr>
  <h4 class="course-header">Course Period</h4>
  <p class="course-data">Semester - <b>{{ courseData.coursePeriod }}</b></p>
  <hr>
  <h4 class="course-header">Credits (4)</h4>
  <ul class="credit-list">
    <li>Lecture - <b>{{ courseData.credits?.lecture }}</b></li>
    <li>Tutorial - <b>{{ courseData.credits?.tutorial }}</b></li>
    <li>Practical - <b>{{ courseData.credits?.practical }}</b></li>
    <li>Project - <b>{{ courseData.credits?.project }}</b></li>
  </ul>
  <hr>
  <h4 class="course-header">Course Outcomes (COs)</h4>
  <div class="outcomes-container">
    <span *ngFor="let co of courseData.courseOutcomes" class="badge">{{ co }}</span>
  </div>
  <hr>
  <h4 class="course-header">Mapped to this Course</h4>
  <div class="mapped-container">
    <span *ngFor="let po of courseData.mappedToCourse" class="badge mapped">{{ po }}</span>
  </div>
</div>